# Python
__pycache__/
*.pyc
.venv/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Build artifacts
**/function.zip
**/*.zip

# Logs
*.log
**/function.zip
docs/.names.md
docs/.names.md
.DS_Store
**/function.zip
docs/
